<div class="login_form gap10_column">
  <%= render "shared/head_popup",close_path: root_path() %>
  <%= render 'shared/errors', object: @user %>
  <%= form_with(scope: @user, url:login_create_path(), class: "gap10_column") do |form| %>
    <%= form.label :email, style: "display: block" , placeholder: "Введите адрес эл. почты"%>
    <%= form.email_field :email,class: "input" %>
    <%= form.submit "Login", class: "button" %>
  <% end %>
</div>
