<div class="profile column ">
  <%=render "profile"%>
  <div class="body gap10 column">
    <div class="user gap10 column">
      <%= image_tag "unknown_user.svg",style:"height: 150px;"%>
      <p><%= @user.username%> </p>
      <p>Подписчики <%=@subscribe_count  %></p>
    </div>
    <div class="posts gap10">
      <%= render "view_image"%>
    </div>
  </div>
  <div class="footer">
    <%= render "shared/subscribe",owner_id: params[:user_id]%>
  </div>
</div>
