<div class="profile column ">
  <%=render "profile"%>
  <div class="body gap10 column">
    <div class="user gap10 column">
      <%= image_tag "unknown_user.svg",style:"height: 150px;"%>
      <p>sokolov.serge@istagram</p>
      <p>Подписчики <%=@subscribe_count  %></p>
    </div>
    <div class="posts gap10">
      <%= render "edit_image"%>
    </div>
  </div>  
  <div class="footer">
    <%= button_to "Новый пост", post_new_path() , method: :get, class: "button" %>
  </div>
</div>
